/*------------------------------------*\
  #MASTHEAD

  Styles for site's masthead excluding
  homepage hero
\*------------------------------------*/

.c-masthead {
  @include mq($until: tablet) {
    margin-top: $unit-large;
  }
}

.c-masthead--about {
  position: relative;
  height: 100vh;
  // @include fluid-type(height, $mobile, $desktop, 30vh, 100vh);
}

  .c-masthead__icon {
    position: absolute;
    max-width: 150px;
    @include fluid-type(width, $mobile, $desktop, 80px, 150px);

    @include mq($until: tablet) {
      right: 0;
      bottom: -10%;
      left: 0;
      margin-left: auto;
      margin-right: auto;
    }

    @include mq(tablet) {
      right: 25%;
      bottom: 10%;
    }
  }