/*------------------------------------*\
  #TABLES

  Styles for site's tables
\*------------------------------------*/

.c-table {
  @include mq($until: tablet) {

  }

  @include mq(tablet) {
    display: grid;
  }

  // box-shadow: 0px 2px 4px rgba(0,0,0,.18);
  box-shadow: 0px 7px 14px rgba($color: #BBC0C4, $alpha: .35);
}

.c-table--blue {
  margin-bottom: $unit-large;

  @include mq($until: tablet) {
  }

  @include mq(tablet) {
    // grid-template-columns: 100px 100px 1fr 1fr;
    grid-template-columns: 100px 100px 1fr 1fr;
  }

  background-color: $brandblue;

  & p {
    color: #fff;
  }
}

.c-table--white {
  @include mq($until: tablet) {

  }

  @include mq(tablet) {
    // grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 80px 80px 170px 210px 1fr;
    background-color: #fff;
  }
}

  .c-table__cell {
    @include mq($until: tablet) {
      padding: $unit-small;

      & + & {
        border-top: 1px solid $pussyblue;
      }
    }

    @include mq(tablet) {
      padding: 8px;

      .c-table--blue  & + & {
        border-left: 1px solid $pussyblue;
      }
    }
  }

    .c-table__cell-name {
      margin-bottom: $unit-small;
      font-size: .7em;
    }

    .c-table__cell-data {
      margin-bottom: 0;
      font-size: .7rem;
      font-weight: bold;
    }

  .c-table__heading {
    margin-bottom: 0;
    padding: 4px;
    background-color: $pussyblue;
    font-size: .8rem;

    @include mq($until: tablet) {

    }

    @include mq(tablet) {
      grid-column: 1 / span 5;
    }
  }