/*------------------------------------*\
  #HERO

  Styles for homepage hero
\*------------------------------------*/

.c-hero-background {
  background-image: url('../images/hero-gradient.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.c-hero {
  height: 100vh;

  @include mq($until: tablet) {
    margin-top: $unit-huge;
    padding: $unit-small;
  }

  @include mq(tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: $unit-huge*1.25 $unit-large;
  }
}

  .c-hero__circles {
    position: relative;

    @include mq($until: tablet) {
      margin-bottom: $unit-large;
    }

    @include mq(tablet) {
      grid-column: 1 / 3;
      transform: translateX(5%);
    }
  }

    .c-hero__circle {
      border-radius: 100%;
      // box-shadow: 0px 12px 28px rgba(0,0,0,.25);
      box-shadow: 0px 60px 80px rgba($color: #BBC0C4, $alpha: .6);
    }

    .c-hero__circle--med {
      position: absolute;
      z-index: 1;

      @include mq($until: tablet) {
        top: 20%;
      }

      @include mq(tablet) {
        top: 25%;
        left: 12%;
      }

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include fluid-type(width, $mobile, $desktop, 150px, 280px);
      @include fluid-type(height, $mobile, $desktop, 150px, 280px);
      border-radius: 100%;
      color: #fff;
      background-color: rgba($color: $brandgreen, $alpha: .75);

      hr {
        @include mq($until: tablet) {
          margin-bottom: $unit-small;
        }

        background-color: #fff;
      }

      p {
        color: #fff;
        @include fluid-type(font-size, $mobile, $desktop, 0.8rem, 1.1rem);
        margin-bottom: 0;

        @include mq($until: tablet) {
          padding: 0 $unit;
        }

        @include mq(tablet) {
          padding: 0 $unit-large;
        }
        text-align: center;
      }
    }

    .c-hero__circle--big {
      margin: 0 auto;

      @include mq($until: tablet) {
        max-width: 300px;
        // transform: translateX(5%);
      }

      @include mq(tablet) {
        max-width: 500px;
      }
    }

    .c-hero__circle--small {
      position: absolute;
      @include fluid-type(width, $mobile, $desktop, 80px, 150px);
      @include fluid-type(height, $mobile, $desktop, 80px, 150px);

      @include mq($until: tablet) {
        right: 0;
        bottom: 0;
      }

      @include mq(tablet) {
        bottom: 0;
        right: 22%;
      }
    }

  .c-hero__content {
    max-width: 400px;
    text-align: right;

    @include mq($until: tablet) {
      padding: 0 $unit;
    }

    @include mq(tablet) {
      grid-column: 3 / 4;
      transform: translateX(-50%);
    }
  }

    .c-hero__heading {
      color: $brandblue;
      @include fluid-type(font-size, $mobile, $desktop, 2.5rem, 3rem);
    }