/*------------------------------------*\
  #FOOTER

  Styles for site's footer, social, and
  copyright
\*------------------------------------*/

.c-footer {
  @include mq($until: tablet) {

  }

  @include mq(tablet) {

  }

  background-color: #fff;
  font-size: 0.85rem;
}

  .c-footer__grid {
    @include mq($until: tablet) {
      padding: $unit-large $unit;
      text-align: center;
    }

    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
      padding: $unit-large $unit;
      max-width: 1250px;
      margin: 0 auto;
    }
  }

    .c-footer__logo {
      @include mq($until: tablet) {
        max-width: 200px;
        margin-bottom: $unit-large;
      }
    }

    .c-footer__nav {
      @include mq($until: tablet) {
        display: none;
      }

      // Specified styles to target sub-menu translate template

      & ul {
        margin: 0;
        list-style-type: none;
      }

      & ul li {
        margin-bottom: $unit;

        &:last-child {
          margin-bottom: 0;
        }
      }

      & ul li a {
        display: block;
        color: $greyblue;
        font-family: 'Libre Franklin';
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;

        &:after {
          content: '>';
          margin-left: $unit-small;
        }
      }
    }

      .c-footer__nav-item {
        display: block;
        margin-bottom: $unit;
        color: $greyblue;
        font-family: 'Libre Franklin';
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;

        &:last-child {
          margin-bottom: 0;
        }

        &:after {
          content: '>';
          margin-left: $unit-small;
        }
      }

    .c-footer__contact {

    }

      .c-footer__contact-item {
        @include mq($until: tablet) {
          margin-bottom: $unit*1.5;
        }

        @include mq(tablet) {
          margin-bottom: $unit;
        }

        display: flex;
        align-items: flex-start;

        & p {
          margin-bottom: 0;
        }


        &:last-child {
          margin-bottom: 0;
        }


        & img {
          margin-right: $unit-small;
        }
      }

/*------------------------------------*\
  #SOCIAL
\*------------------------------------*/

.c-social {
  padding: $unit;
  background-color: $brandgreen;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq($until: tablet) {
    flex-direction: column;
  }

  @include mq(tablet) {
  }
}

  .c-social__icons {

  }

    .c-social__item {
      @include mq(tablet) {
        margin-bottom: 0;
      }

      color: #fff;
      font-size: 0.75rem;
    }

    .c-social__icon {
      margin: 0 $unit-small;
      font-weight: 600;
      font-style: normal;
    }

/*------------------------------------*\
  #COPYRIGHT
\*------------------------------------*/

.c-copyright {
  padding: $unit-small;
  text-align: center;

  & a {
    color: $greyblue;
    text-decoration: underline;
  }
}