/*------------------------------------*\
  #PRODUCTS

  Styles for site's products page
\*------------------------------------*/

.c-products__container {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
}

  .c-products {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    @include mq($until: tablet) {

    }

    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    &.is-active {
      position: relative;
      z-index: 2;
      opacity: 1;
    }

  }

    .c-product {
      max-width: 250px;
      margin: $unit-large auto;
      box-shadow: 0px 7px 14px rgba($color: #BBC0C4, $alpha: .35);
    }

      .c-product__image-container {
        padding: $unit-small;
        background-color: #F0F0F2;
      }

        .c-product__image {
          display: block;
          // width: 100px;
          height: 175px;
          margin: 0 auto;
        }

      .c-product__content {
        padding: $unit-small;
        text-align: center;
      }

        .c-product__name {
          margin-bottom: $unit-small;
          color: #101820;
          font-weight: normal;
          text-transform: uppercase;

          // To work with type: html contenttype with Bolt
          & * {
            margin-bottom: 0;
            font-weight: 600;
          }
        }

        .c-product__cert {
          margin-bottom: $unit-small;
          color: #A8A8A8;
          font-size: 0.9rem;
          font-weight: lighter;
          text-transform: uppercase;
        }