/*------------------------------------*\
  #HAMBURGER

  Styles for hamburger menu
\*------------------------------------*/

.c-hamburger {
  @include mq($until: tablet) {
    position: fixed;
    top: 18px;
    right: 12px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 35px;
    height: 35px;
  }

  @include mq(tablet) {
    display: none;
  }
}

  .c-hamburger__line {
    width: 100%;
    height: 3px;
    margin-bottom: 4px;
    border-radius: 4px;
    background-color: $greyblue;
    transition: all 300ms ease-in-out;

    .burger-is-active & {
      background-color: $clearblue;
    }

    &:first-child {
      .burger-is-active & {
        width: 60%;
        transform: translateY(10px) rotate(45deg);
      }
    }

    &:nth-child(2) {
      width: 80%;

      .burger-is-active & {
        opacity: 0;
      }
    }

    &:last-child {
      width: 60%;
      margin-bottom: 0;

      .burger-is-active & {
        transform: translateY(-4px) rotate(-45deg);
      }
    }
  }

