/*------------------------------------*\
  #OVERLAP

  Styles for about page overlap image
\*------------------------------------*/

.c-overlap {
  position: relative;
}

.c-overlap--right {
  @include mq(tablet) {
    text-align: right;
  }
}

.c-overlap--left {
  @include mq(tablet) {
    text-align: left;
  }
}

  .c-overlap__image {
    position: absolute;
    margin: auto;
    @include fluid-type(width, $mobile, $desktop, 150px, 400px);

    .c-overlap--right & {
      @include mq($until: tablet) {
        top: 50%;
        right: 0;
        left: 0;
      }

      @include mq(tablet) {
        top: 0;
        bottom: 0;
        left: 0;
      }
    }

    .c-overlap--left & {
      @include mq($until: tablet) {
        top: 60%;
        right: 0;
        left: 0;
      }

      @include mq(tablet) {
        top: 0;
        bottom: 0;
        right: 0;
      }
    }
  }