/*------------------------------------*\
  #SUCCESS

  Styles for success list
\*------------------------------------*/

.success-container {
  max-width: 600px;
  margin: 0 auto;

  & h1 {
    margin-bottom: $unit*1.5;
  }

  & hr {
    margin-bottom: $unit*1.5 !important;
  }
}

  .success__item {
    display: flex;
    align-items: flex-start;
  }

    .success__icon {
      max-width: 40px;
      margin-right: $unit*1.5;
    }

    .success__content {
      margin-bottom: $unit;
    }

      .success__title {
        margin-bottom: $unit-small;
      }

