/*------------------------------------*\
  #BUTTONS

  Styles for buttons
\*------------------------------------*/

.c-btn {
  display: inline-block;
  @include mq($until: tablet) {
    padding: $unit-small $unit;
  }

  @include mq(tablet) {
    padding: $unit-small $unit*1.25;
  }

  border: 0;
  border-radius: $unit;
  color: #fff;
  background-color: $brandgreen;
  font-family: 'Libre Franklin';
  @include fluid-type(font-size, $mobile, $desktop, .65rem, 0.75rem);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.c-btn--ghost {
  background-color: transparent;
  border: 2px solid $brandgreen;
  color: $brandgreen;
}

.c-btn--small {
  font-size: 0.7rem;
}

.c-btn--downloads {
  @include mq($until: tablet) {
    display: block;
    text-align: center;
  }
}

.c-btn--popup {
  font-size: 0.65rem;
  padding: $unit-small*1.5;

  & a { color: #fff; }
}