/*------------------------------------*\
  #ACCORDION

  Styles for page accordions
\*------------------------------------*/

.c-accordion {
  @include mq($until: tablet) {

  }

  @include mq(tablet) {
    // min-height: 100vh;
  }
}

.c-accordion--vh\@tablet {
  @include mq(tablet) {
    display: grid;
    align-items: center;
    min-height: 50vh;
  }
}

  .c-accordion__name {
    @include mq($until: tablet) {
      position: relative;
      padding: $unit 0;
      cursor: pointer;
      border-bottom: 1px solid #D4D4D4;

      &:after {
        position: absolute;
        right: 0;
        margin-right: $unit-small;
        content: url('../images/svg/accordion-arrow.svg');
        // transition: all 200ms ease-out;
      }

      &.is-active {
        &:after {
          transform: rotate(90deg)
        }
      }
    }

    @include mq(tablet) {
      pointer-events: none;
      margin-bottom: $unit-small;
    }
  }

  .c-accordion__name--btopbot {
    @include mq($until: tablet) {
      border-top: 1px solid #D4D4D4;
      border-bottom: 1px solid #D4D4D4;
    }
  }

  .c-accordion__content {
    @include mq($until: tablet) {
      display: none;
      overflow: hidden;
    }
  }

  .c-accordion__content--details {
    display: grid;
    align-items: baseline;

    @include mq($until: tablet) {

    }

    @include mq(tablet) {
      grid-template-columns: 20% 80%;
      padding: $unit-small 0;
      margin-bottom: $unit;
      border-top: 1px solid #D4D4D4;
      border-bottom: 1px solid #D4D4D4;

      & h6 {
        font-size: 0.9rem;
        margin-bottom: $unit-small;
      }

      & p {
        font-size: 0.9rem;
        margin-bottom: $unit-small;
      }
    }

  }

  .c-accordion__content--grid {

    @include mq($until: tablet) {

    }

    @include mq(tablet) {
      display: grid;
      grid-template-columns: 60% 40%;
      align-items: center;
    }
  }

  .c-accordion__content--gridreverse {

    @include mq($until: tablet) {

    }

    @include mq(tablet) {
      display: grid;
      grid-template-columns: 40% 60%;
      align-items: center;
    }
  }

  .c-accordion__cta {
    @include mq($until: tablet) {
      margin-bottom: $unit;
    }

    @include mq(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & p {
        margin: 0;
      }
    }
  }

/*------------------------------------*\
  #FAQs

  Styles for page accordions faqs
\*------------------------------------*/

.c-faq {

}

  .c-faq__title {
    position: relative;
    margin-bottom: 0;
    padding: $unit 0;
    border-bottom: 1px solid #D4D4D4;
    color: $greyblue;
    cursor: pointer;
    @include fluid-type(font-size, $mobile, $desktop, 1.2em, 1.5em);

    &:after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-right: $unit-small;
      content: url('../images/svg/accordion-arrow.svg');
      // transition: all 200ms ease-out;
    }

    &.is-active {
      &:after {
        transform: rotate(90deg)
      }
    }

    & p {
      margin-bottom: 0;
    }
  }

  .c-faq__content {
    display: none;
    overflow: hidden;
  }

    .c-subfaq {
    }

    .c-subfaq__title {
      position: relative;
      margin-bottom: 0;
      padding: $unit-small;
      // border-bottom: 1px solid #D4D4D4;
      cursor: pointer;
      @include fluid-type(font-size, $mobile, $desktop, 1.05em, 1.125em);

        &:after {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          margin-right: $unit-small;
          content: url('../images/svg/accordion-arrow.svg');
          // transition: all 200ms ease-out;
        }

        &.is-active {
          &:after {
            transform: rotate(90deg)
          }
        }

        & > * {
          margin-bottom: 0;
        }

        & p {
          font-style: italic;
        }
      }

      .c-subfaq__content {
        padding: $unit-small;
        display: none;
        overflow: hidden;
        font-size: 0.85rem;
      }