/*------------------------------------*\
  #DROPDOWN

  Styles for dropdown button
\*------------------------------------*/

.c-dropd {
  @include mq($until: tablet) {

  }

  @include mq(tablet) {
    position: relative;
  }
}

  .c-dropd__btn {
    @include mq($until: tablet) {

    }

    @include mq(tablet) {
      padding: 12px;

      & img:nth-child(1) {
        margin-right: 0.25rem;
      }
    }
  }


  .c-dropd__content {
    @include mq($until: tablet) {

    }

    @include mq(tablet) {
      position: absolute;
      z-index: 1;
      top: $unit-large;
      left: -30px;
      padding: $unit-tiny 0;
      background-color: #fff;
      box-shadow: 0px 7px 14px rgba($color: #BBC0C4, $alpha: .35);
      opacity: 0;
      pointer-events: none;
      transition: opacity 300ms ease-in-out;
    }
  }

    .c-dropd__arrow {
      @include mq($until: tablet) {

      }

      @include mq(tablet) {
        position: absolute;
        z-index: 2;
        top: -18px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 14px;
        height: 14px;
        background-color: #fff;
        transform: translateY(12px) rotate(45deg);
      }
    }

    .c-dropd__items {
      @include mq($until: tablet) {

      }

      @include mq(tablet) {
        margin: 0;
      }

      list-style-type: none;
    }

    .c-dropd__item {
      font-size: 0.85rem;

      @include mq($until: tablet) {

      }

      @include mq(tablet) {
        display: block;
        margin: 0 6px !important;

        @include mq($until: tablet) {

        }

        @include mq(tablet) {
          // max-width: 100px;
          padding: $unit-small;
          &:nth-child(1) {
            // border-top: 1px solid rgba(.79,.87,.112,.09);
            border-bottom: 1px solid rgba(.79,.87,.112,.09);
          }
        }
      }

      margin-bottom: 0;
    }

.c-dropd:hover .c-dropd__content {
  @include mq($until: tablet) {

  }

  @include mq(tablet) {
    opacity: 1;
    pointer-events: all;
  }
}