/*------------------------------------*\
  #FORM

  Styles for site's forms
\*------------------------------------*/

.c-form__container {
  position: fixed;
  z-index: -1;
  top: 50%;
  right: 0;
  left: 0;
  max-width: 500px;
  margin: 0 auto;
  padding: $unit-large;
  background-color: #fff;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  & p {
    font-size: 0.8rem;
  }
}

.c-form__container--open {
  z-index: 10;
  opacity: 1;
}

.c-form__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: $unit;
  cursor: pointer;
}

.c-form {

}

.c-form--popup {
  position: relative;

  & .c-form__field:nth-child(5) {
    margin-bottom: $unit;
  }

  & .c-form__field:last-child {
    margin-bottom: 0;
  }
}

  .c-form__field {
    margin-bottom: $unit-small;
  }

  .c-form__field--border {
     border: 1px solid #989898;
  }

    .c-form__label {
      display: block;
      width: 100%;
      margin-left: $unit-small;
      color: #989898;
      font-size: 0.8rem;
      font-family: 'Libre Franklin';
    }

    .c-form__input {
      display: block;
      width: 100%;
      padding: $unit-tiny $unit-small;
      border: 0;
      border-bottom: 2px solid #989898;
      color: $greyblue;
      background-color: #F8F8F8;
      font-family: 'Libre Franklin';
      outline: 0;

      .c-form--popup & {
        background-color: #fff;
      }
    }

    .c-form__input--textarea {
      border: 0;
      resize: none;
    }