/*------------------------------------*\
  #HEADER

  Styles for site's header
\*------------------------------------*/

.c-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 8;

  @include mq($until: tablet) {
    background-color: #fff;
    padding: $unit-small;
  }

  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: $unit $unit-large;
    transition: all 300ms ease-in-out;

    &.is-colored {
      background-color: #fff;
    }
  }

  color: $greyblue;
  text-transform: uppercase;
  font-family: 'Libre Franklin';
  font-weight: 600;
  font-style: normal;
  font-size: 0.9rem;
}

  .c-header__logo {
    display: inline-block;

    @include mq($until: tablet) {
      max-width: 200px;
    }

    @include mq(tablet) {

    }
  }

  .c-header__nav {
    @include mq($until: tablet) { display: none; }

    // Specified styles to target sub-menu translate template

    display: inline-block;
    list-style-type: none;

    & ul {
      display: inline-block;
      margin: 0;
      list-style-type: none;
    }

    & ul li {
      display: inline-block;

      @include mq($until: tablet) {

      }

      @include mq(tablet) {
        margin: 0 $unit-small;
        font-size: 0.85rem;
      }
    }

    & a {
      color: inherit;
      text-decoration: none;
    }
  }

    .c-header__nav-li {
      display: inline-block;

      @include mq($until: tablet) {

      }

      @include mq(tablet) {
        margin: 0 $unit-small*1.5;

        &:last-child {
          margin-left: $unit-large;
          margin-right: 0;
        }
      }
    }