/*------------------------------------*\
  #CERTS

  Styles for certifications
\*------------------------------------*/

.c-certs {
  display: grid;
  justify-items: center;
  align-items: center;

  @include mq($until: tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(tablet) {
    grid-template-columns: repeat(4, 1fr);
    max-width: 550px;
    margin: 0 auto;
  }
}

  .c-cert {
    max-width: 100px;

    @include mq($until: tablet) {
      padding: $unit-tiny;
    }

    @include mq(tablet) {
      // padding: $unit;
    }
  }

.c-certs--threecolumn {
  @include mq(tablet) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 425px;
    margin-top: $unit-small;
  }
}