/*------------------------------------*\
  #CARDS

  Styles for each card
\*------------------------------------*/

.c-card {
  @include mq($until: tablet) {
    margin-bottom: $unit;
  }

  @include mq(tablet) {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    margin-bottom: $unit-large;
  }

  background-color: #fff;
  box-shadow: 0px 7px 14px rgba($color: #BBC0C4, $alpha: .35);
}

.c-card--vh\@tablet {
  @include mq(tablet) {
    display: grid;
    align-items: center;
    min-height: 80vh;
  }
}

  .c-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .c-card__content {
    padding: $unit;
  }

  .c-card__content--product {
    & a {
      display: inline-block;
      color: inherit;
      text-decoration: underline;
    }
  }

/*------------------------------------*\
  #DOWNLOAD-CARDS

  Additional styles for download cards
\*------------------------------------*/

.c-cards {

}

.c-card--downloads {
  @include mq(tablet) {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
  }
}