/*------------------------------------*\
  #SINGLE-PRODUCT

  Styles for singular product page
\*------------------------------------*/

.c-single {
  & p {
    line-height: 30px;
  }
}

  .c-single__header {
    @include mq($until: tablet) {

    }

    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: $unit-large;
    }
  }

    .c-single__images {
      display: grid;
      grid-auto-rows: max-content;
      justify-items: center;
      align-items: flex-start;
      grid-gap: $unit;

      @include mq($until: tablet) {
        margin-bottom: $unit-large;
      }

      @include mq(tablet) {
        padding: $unit;
      }
    }

      .c-single__image {
        @include mq($until: tablet) {
          max-width: 125px;
        }

        @include mq(tablet) {
          max-width: 270px;
        }
      }

      .c-single__certs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
      }

        .c-single__cert {
          @include mq($until: tablet) {
            max-height: 65px;
          }

          @include mq(tablet) {
            max-height: 100px;
          }
        }

    .c-single__overview {
      grid-column: 2 / span 2;

      @include mq($until: tablet) {

      }

      @include mq(tablet) {
        padding: $unit;
      }
    }

      .c-single__overview-main {
        @include mq($until: tablet) {
          border-bottom: 1px solid #D4D4D4;
        }

        @include mq(tablet) {

        }
      }

        .c-single__category {
          font-size: 0.8rem;
          font-weight: normal;
          text-transform: capitalize;
          margin-bottom: $unit-tiny;
        }

        .c-single__name {
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: $unit-small;

          & p {
            margin-bottom: 0;
          }
        }

        .c-single__taxonomy {
          display: inline-block;
          font-style: italic;
          margin-bottom: 0;
          font-size: 0.9rem;
        }

        .c-single__formula {
          display: inline-block;
          margin-bottom: 0;
          font-size: 0.9rem;
        }

        .c-single__descr {
          font-size: 0.9rem;
        }

  .c-single__details {
    @include mq($until: tablet) {

    }

    @include mq(tablet) {
      // & > div:nth-last-child(2) {
      //   border-bottom: 1px solid #D4D4D4;
      // }

      // & > div:nth-last-child(3) {
      //   border-bottom: 1px solid #D4D4D4;
      // }

      // & > div:nth-last-child(4) {
      //   border-bottom: 1px solid #D4D4D4;
      // }
    }

    & .c-accordion {
      @include mq($until: tablet) {

      }

      @include mq(tablet) {
        // padding: $unit-large 0;
      }
    }
  }

  .u-accordion-small {
    @include mq(tablet) {
      min-height: 30vh !important;

      & p {
        margin-bottom: 0;
      }
    }
  }

  .u-align-start {
    align-items: flex-start !important;
  }