/*------------------------------------*\
  #CATEGORIES

  Styles for site's categories tabs
\*------------------------------------*/

.c-categories {
  @include mq($until: tablet) {
    display: none;
  }

  @include mq(tablet) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: #BBB;
  }

  margin-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  font-weight: lighter;
}

  .c-category {
    @include mq($until: tablet) {

    }

    @include mq(tablet) {
      position: relative;
      padding-bottom: $unit;
      border-bottom: 1px solid #BBB;
      transition: all 300ms ease-in-out;

      &.is-active {
        color: $brandgreen;

        &:after {
          height: 4px;
        }
      }

      &:hover {
        color: $brandgreen;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0px;
        background-color: $brandgreen;
        transition: all 300ms ease-in-out;
      }

      &:hover:after {
        height: 4px;
      }
    }

    &.is-active {

    }

    cursor: pointer;
  }