/*------------------------------------*\
  #SECTION

  Styles for site's section
\*------------------------------------*/

.c-section,
.c-section-product,
.c-section-download {
  // @include fluid-type(max-width, $tablet, $wide, 800px, 1250px)

  @include mq($until: tablet) {
    padding: $unit-large $unit;
  }

  @include mq(tablet) {
    max-width: 1250px;
    min-height: 100vh;
    margin: 0 auto;
    padding: $unit-large $unit-large $unit-huge $unit-large;
  }

  & hr {
    margin: 0 auto;
  }

  & hr.hr-left {
    margin: 0 0 $unit 0;
  }
}

.c-section--less {
  @include mq($until: tablet) {
    padding: $unit;
  }

  @include mq(tablet) {
    padding: $unit $unit-large;
  }
}

.c-section--small {
  max-width: 1000px;
}

.c-section--first {
  @include mq($until: tablet) {
    padding-top: $unit-huge*1.25;
  }

  @include mq(tablet) {
    padding-top: $unit-huge*2;
  }
}

.c-section--grid {
  @include mq($until: tablet) {

  }

  @include mq(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.c-section--flexorder {
  @include mq($until: tablet) {

  }

  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.c-section--aboutfoo {
  background-repeat: no-repeat;
  background-image: url('../images/footer-about.png');
  background-position: bottom;

  @include mq($until: tablet) {
    background-size: 100% 95%;
  }

  @include mq(tablet) {
    background-size: 100% 75%;
  }
}

.c-section--tables {
  max-width: 900px;
}

  .c-section__heading {

    @include mq($until: tablet) {
      hr {
        margin-bottom: $unit;
      }
    }

    @include mq(tablet) {
      margin-bottom: $unit;

      h1 {
        margin-bottom: $unit-large;
      }
    }

    text-align: center;

    h1 {
      @include fluid-type(font-size, $mobile, $desktop, 1.75rem, 2.25rem);
    }
  }

  .c-section__paragraph {
    line-height: 34px;
  }

  .c-section__paragraph--less {
    max-width: 775px;
    margin: 0 auto;
    margin-bottom: $unit-large;
    text-align: center;
  }

  .c-section__paragraph--lesser {
    max-width: 750px;

    @include mq($until: tablet) {

    }

    @include mq(tablet) {
      margin-bottom: $unit*1.25;
    }
  }

  .c-section__paragraph--big {
    margin-bottom: $unit-large;

    @include fluid-type(font-size, $mobile, $desktop, 1rem, 1.5rem);

    @include mq($until: tablet) {
      line-height: 34px;
    }

    @include mq(tablet) {
      max-width: 380px;
      line-height: inherit;
    }

    & p {
      margin-bottom: 0;
    }
  }

  .c-section__lastpart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    max-width: 400px;
    margin: 0 auto;

    p { line-height: 34px; }

    hr {
      margin: 0;
      margin-bottom: $unit;
      margin-left: auto;
    }

    @include mq($until: tablet) {
      h1 { line-height: 50px; }
      margin-bottom: $unit-large;
    }

    @include mq(tablet) {
      order: 1;
      h1 { line-height: 60px; }
    }
  }