/*------------------------------------*\
  #SELECT

  Styles for select menu
\*------------------------------------*/

.c-select {
  width: 100%;
  padding: $unit-small;
  border: 0;
  background-image: url('../images/svg/dropdown.svg');
  background-repeat: no-repeat;
  background-position: 95% center;
  box-shadow: 0px 2px 4px rgba(0,0,0,.18);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  @include mq(tablet) {
    display: none;
  }
}

  .c-select__item {

  }