/*------------------------------------*\
  #MOBILE-NAV

  Styles for fixed mobile nav
\*------------------------------------*/

.c-mobile-nav {
  @include mq($until: tablet) {
    position: fixed;
    z-index: -1;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: $unit-small;
    background-color: $brandblue;
    font-family: 'Libre Franklin';
    font-weight: 600;
    font-style: normal;
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    &.nav-is-active {
      opacity: 1;
      z-index: 9;
    }

    & a {
      display: block;
      text-transform: uppercase;
      color: $clearblue;
    }
  }

  @include mq(tablet) {
    display: none;
  }

  // Specified styles to target sub-menu translate template
  & ul {
    margin: 0;
    list-style-type: none;
    text-align: center;
  }

  & > ul li {
    margin-bottom: $unit;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

  .c-mobile-nav__item {

  }

  .lang-container {
    // border: 1px solid white;
    display: flex;
    flex-direction: column;
  }

    .lang-icon {
      margin-bottom: $unit;
    }

    .lang-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border: 1px solid $clearblue;
    }

      .lang {
        padding: $unit-small;
        border: 1px solid $clearblue;
        text-align: center;
        margin-bottom: 0;
      }