/*------------------------------------*\
  #KEY-PRODUCTS

  Styles for homepage key products
\*------------------------------------*/

.c-key-products {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;

  @include mq($until: tablet) {
    justify-content: center;
  }

  @include mq(tablet) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
  }
}

  .c-key-product {
    display: flex;
    max-width: 215px;
    padding: $unit-small;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include mq($until: tablet) {
      margin-bottom: $unit-large;
    }

    @include mq(tablet) {
      margin-bottom: $unit;
    }

    background-color: #fff;
    // box-shadow: 0px 2px 4px rgba(0,0,0,.18);
    box-shadow: 0px 7px 14px rgba($color: #BBC0C4, $alpha: .35);
  }

    .c-key-product__name {
      margin-bottom: 0;
      text-align: center;
      // @include fluid-type(font-size, $mobile, $desktop, 0.9rem, 1.25rem);
      font-size: 1rem;

      @include mq(tablet) {
        min-width: 210px;
        min-height: 60px;
      }
    }

    .c-key-product__image {
      max-height: 180px;
      // width: 105px;
      // height: 180px;
      @include mq($until: tablet) {
        margin: $unit-small 0;
      }

      @include mq(tablet) {
        margin: $unit-small 0;
      }
    }