/* Arrows */
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -22px;
  padding: $unit;
  z-index: 10;
  cursor: pointer;
  background-size: 8px 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0px 2px 4px rgba(0,0,0,.18);

  .swiper-container--menucards > & {
    @include mq($until: tablet) {
      top: 89px;
    }
  }

  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  @include encoded-svg-background("<svg xmlns='http://www.w3.org/2000/svg' width='25.69' height='45.64' viewBox='0 0 25.69 45.64'><path fill='none' stroke='#A8A8A8' stroke-width='6' d='M24.28 1.42L2.83 22.81l21.45 21.41'/></svg>");
  left: 10px;
  right: auto;

  &.swiper-button-black {
    @include encoded-svg-background("<svg xmlns='http: //www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0, 22L22, 0l2.1, 2.1L4.2, 22l19.9, 19.9L22, 44L0, 22L0, 22L0, 22z' fill='#000000'/></svg>");
  }

  &.swiper-button-white {
    @include encoded-svg-background("<svg xmlns='http: //www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0, 22L22, 0l2.1, 2.1L4.2, 22l19.9, 19.9L22, 44L0, 22L0, 22L0, 22z' fill='#ffffff'/></svg>");
  }
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  @include encoded-svg-background("<svg xmlns='http://www.w3.org/2000/svg' width='25.69' height='45.64' viewBox='0 0 25.69 45.64'><path fill='none' stroke='#A8A8A8' stroke-width='6' d='M1.41 1.42l21.45 21.39L1.41 44.22'/></svg>");
  right: 10px;
  left: auto;

  &.swiper-button-black {
    @include encoded-svg-background("<svg xmlns='http: //www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27, 22L27, 22L5, 44l-2.1-2.1L22.8, 22L2.9, 2.1L5, 0L27, 22L27, 22z' fill='#000000'/></svg>");
  }

  &.swiper-button-white {
    @include encoded-svg-background("<svg xmlns='http: //www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27, 22L27, 22L5, 44l-2.1-2.1L22.8, 22L2.9, 2.1L5, 0L27, 22L27, 22z' fill='#ffffff'/></svg>");
  }
}
