/* Pagination Styles */
.swiper-pagination {
  font-size: 12px;
  position: absolute;
  text-align: center;
  transition: 300ms;
  transform: translate3d(0, 0, 0);
  z-index: 10;

  &.swiper-pagination-hidden {
    opacity: 0;
  }

  @include mq($until: tablet) {
    color: #fff;
  }
}
/* Common Styles */
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;

}

.swiper-container--menucards > .swiper-pagination-bullets {
  @include mq($until: tablet) {
    top: 137px;
    bottom: auto;
  }
}

/* Bullets */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #979797;

  @at-root button#{&}{
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    appearance: none;
  }

  .swiper-pagination-clickable & {
    cursor: pointer;
  }

  .swiper-pagination-white & {
    background: #fff;
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #009A44;
  border: none;

  .swiper-pagination-white & {
    background: #fff;
  }

  .swiper-pagination-black & {
    background: #000;
  }
}

.swiper-container-vertical {
  > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0px, -50%, 0);

    .swiper-pagination-bullet {
      margin: 5px 0;
      display: block;
    }
  }
}

.swiper-container-horizontal {
  > .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0 5px;
    }
  }
}
/* Progress */
.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;

  .swiper-pagination-progressbar {
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
  }

  .swiper-container-rtl & .swiper-pagination-progressbar {
    transform-origin: right top;
  }

  .swiper-container-horizontal > & {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
  }

  .swiper-container-vertical > & {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
  }

  &.swiper-pagination-white {
    background: rgba(255, 255, 255, 0.5);

    .swiper-pagination-progressbar {
      background: #fff;
    }
  }

  &.swiper-pagination-black {
    .swiper-pagination-progressbar {
      background: #000;
    }
  }
}
