{% extends 'partials/_master.twig' %}

{% block content %}

<section class="c-masthead  c-masthead--about">
  <img src="{{ asset('images/masthead-about.png', 'theme') }}">
  <img class="c-masthead__icon" src="{{ asset('images/svg/iso-new.svg', 'theme')}}">
</section>

<section class="c-section  c-section--less">
  <h1>{{ l('historia')|capitalize }}</h1>
  <hr class="hr-left">
  <div class="c-section__paragraph">
    {{ record.templatefields.history_content }}
  </div>
</section>

<section class="c-section  c-section--less">
  <figure class="c-overlap  c-overlap--right">
    <img src="{{ record.templatefields.big_image_1|thumbnail('about-image') }}">
    <img src="{{ record.templatefields.overlap_image_1|thumbnail('overlap-image') }}" class="c-overlap__image">
  </figure>
</section>

<section class="c-section  c-section--less">
  <div class="o-layout">
    <div class="o-layout__item  u-1/2@tablet">
      <h1>{{ l('mision')|capitalize }}</h1>
      <hr class="hr-left">
        <div class="c-section__paragraph">
          <p>{{ record.templatefields.mision_content }}</p>
        </div>
    </div>

    <div class="o-layout__item  u-1/2@tablet">
      <h1>{{ l('vision')|capitalize }}</h1>
      <hr class="hr-left">
        <div class="c-section__paragraph">
          <p>{{ record.templatefields.vision_content }}</p>
        </div>
    </div>
  </div>
</section>

<section class="c-section  c-section--less">
  <figure class="c-overlap  c-overlap--left">
    <img src="{{ record.templatefields.big_image_2|thumbnail('about-image') }}">
    <img src="{{ record.templatefields.overlap_image_2|thumbnail('overlap-image') }}" class="c-overlap__image">
  </figure>
</section>

<section class="c-section  c-section--less">
  <div class="o-layout">
    <div class="o-layout__item  u-1/2@tablet">
      <h1>{{ l('valores')|capitalize }}</h1>
      <hr class="hr-left">
        <div class="c-section__paragraph">
          <p>{{ record.templatefields.values_content }}</p>
        </div>
    </div>

    <div class="o-layout__item  u-1/2@tablet">
      <h1>{{ l('politicas de calidad')|capitalize }}</h1>
      <hr class="hr-left">
        <div class="c-section__paragraph">
          <p>{{ record.templatefields.quality_content }}</p>
        </div>
    </div>
  </div>
</section>

<div class="c-section--aboutfoo">
  <section class="c-section c-section--less">
    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for image in record.templatefields.swiper %}
        <div class="swiper-slide"><img src="{{ image.filename|thumbnail('slide') }}"></div>
        {% endfor %}
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>

    <div class="success-container">
      <h1>{{ l('la clave de nuestro exito')|capitalize }}</h1>
      <hr class="hr-left">
      <div class="success__item">
        <img src="{{ asset('images/svg/lightbulb.svg', 'theme') }}" class="success__icon">
        <div class="success__content">
          <h5 class="success__title">{{ l('innovacion tecnologica')|capitalize }}:</h5>
          <p>{{ record.templatefields.success_1_content }}</p>
        </div>
      </div>

      <div class="success__item">
        <img src="{{ asset('images/svg/head.svg', 'theme') }}" class="success__icon">
        <div class="success__content">
          <h5 class="success__title">{{ l('personal competente')|capitalize }}:</h5>
          <p>{{ record.templatefields.success_2_content }}</p>
        </div>
      </div>

      <div class="success__item">
        <img src="{{ asset('images/svg/flask.svg', 'theme') }}" class="success__icon">
        <div class="success__content">
          <h5 class="success__title">{{ l('instalaciones de vanguardia')|capitalize }}:</h5>
          <p>{{ record.templatefields.success_3_content }}</p>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}