{% extends 'partials/_master.twig' %}

{% block content %}

<section class="c-section  c-section--first">
  <h1>{{ l('contacto')|capitalize }}</h1>
  <hr class="hr-left">
  <div class="o-layout">
    <div class="o-layout__item  u-1/2@tablet">
      <div class="u-maxw-80">
        <p>{{ record.templatefields.content }}</p>
        <form action="https://formspree.io/mario@anclastudio.com" method="POST" class="c-form">
          <div class="c-form__field">
            <label class="c-form__label" for="name">{{ l('nombre')|capitalize }}</label>
            <input type="text" class="c-form__input" id="name" name="Nombre">
          </div>

          <div class="c-form__field">
            <label class="c-form__label" for="email">{{ l('email')|capitalize }}</label>
            <input type="text" class="c-form__input" id="email" name="Correo">
          </div>

          <div class="c-form__field">
            <label class="c-form__label" for="occupation">{{ l('ocupacion')|capitalize }}</label>
            <input type="text" class="c-form__input" id="occupation" name="Ocupación">
          </div>

          <div class="c-form__field">
            <label class="c-form__label" for="organization">{{ l('empresa')|capitalize }}</label>
            <input type="text" class="c-form__input" id="organization" name="Organización">
          </div>

          <div class="c-form__field">
            <label class="c-form__label" for="phone">{{ l('telefono')|capitalize }}</label>
            <input type="text" class="c-form__input" id="phone" name="Teléfono">
          </div>

          <div class="c-form__field  c-form__field--border">
            <label class="c-form__label  u-padding-top-small" for="message">{{ l('mensaje')|capitalize }}</label>
            <textarea name="" id="" class="c-form__input c-form__input--textarea" id="message" name="Mensaje"></textarea>
          </div>

          <div class="c-form__field">
            <button class="c-btn  c-btn--ghost" type="submit">{{ l('enviar')|capitalize }}</button>
          </div>
        </form>
      </div>
    </div>

    <div class="o-layout__item  u-1/2@tablet">
      <div id="map"></div>
    </div>
  </div>
</section>

{% endblock %}