{% extends 'partials/_master.twig' %}

{% setcontent downloads = "downloads" %}

{% block content %}

<section class="c-section-download  c-section--first  c-section--small">
  <h1 class="u-margin-bottom-large">{{ l('conoce el uso adecuado de nuestros productos')|capitalize }}</h1>

  <div class="c-cards">
    {% for download in downloads|reverse %}
    <div class="c-card  c-card--downloads  js-sr">
      <img src="{{ download.image|thumbnail('download-image') }}" alt="" class="c-card__image">

      <div class="c-card__content">
        <h6>{{ download.title }}</h6>
        <p>{{ download.content }}</p>
        {# <a class="c-btn  c-btn--downloads" href="{{ download.file|image }}" data-file="{{ download.file|image }}" download>{{ l('descargar documento') }}</a> #}
        <a class="c-btn  c-btn--downloads" href="#0" data-file="{{ download.file|image }}">{{ l('descargar documento') }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<div class="c-form__container">
  <img class="c-form__close" src="{{ asset('images/svg/close.svg', 'theme') }}">
  <p>Antes de descargar el documento, solicitamos tu siguiente información:</p>

  <form action="https://formspree.io/mario@anclastudio.com" method="POST" class="c-form c-form--popup">
    <div class="c-form__field">
      <label class="c-form__label" for="name">{{ l('nombre')|capitalize }}</label>
      <input type="text" class="c-form__input" id="name" name="Nombre">
    </div>

    <div class="c-form__field">
      <label class="c-form__label" for="email">{{ l('email')|capitalize }}</label>
      <input type="text" class="c-form__input" id="email" name="Correo">
    </div>

    <div class="c-form__field">
      <label class="c-form__label" for="occupation">{{ l('ocupacion')|capitalize }}</label>
      <input type="text" class="c-form__input" id="occupation" name="Ocupación">
    </div>

    <div class="c-form__field">
      <label class="c-form__label" for="organization">{{ l('empresa')|capitalize }}</label>
      <input type="text" class="c-form__input" id="organization" name="Organización">
    </div>

    <div class="c-form__field">
      <label class="c-form__label" for="phone">{{ l('telefono')|capitalize }}</label>
      <input type="text" class="c-form__input" id="phone" name="Teléfono">
    </div>

    <div class="c-form__field">
      {# <a href="{{ asset('images/kaws.jpg', 'theme') }}" download>
      </a> #}
        <button class="c-btn  c-btn--popup" type="submit">{{ l('Descargar documento')|capitalize }}</button>
    </div>
  </form>
</div>

<div class="overlay"></div>

{% endblock %}