{% extends 'partials/_master.twig' %}

{% block content %}

<section class="c-masthead">
  <img src="{{ asset('images/masthead-faq.png', 'theme') }}">
</section>

<section class="c-section">
  <h1 class="u-margin-bottom-large">{{ l('preguntas frecuentes')|capitalize }}</h1>

  <div class="c-faq">
    <h3 class="c-faq__title">{{ record.templatefields.title_1 }}</h3>
    <div class="c-faq__content">
      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_1_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_1_content|markdown }}</div>
      </div>

      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_2_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_2_content|markdown }}</div>
      </div>

      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_3_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_3_content|markdown }}</div>
      </div>
    </div>
  </div>

  <div class="c-faq">
    <h3 class="c-faq__title">{{ record.templatefields.title_2 }}</h3>
    <div class="c-faq__content">
      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_4_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_4_content|markdown }}</div>
      </div>

      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_5_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_5_content|markdown }}</div>
      </div>

      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_6_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_6_content|markdown }}</div>
      </div>
    </div>
  </div>

  <div class="c-faq">
    <h3 class="c-faq__title">{{ record.templatefields.title_3 }}</h3>
    <div class="c-faq__content">
      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_7_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_7_content|markdown }}</div>
      </div>

      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_8_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_8_content|markdown }}</div>
      </div>

      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_9_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_9_content|markdown }}</div>
      </div>
    </div>
  </div>

  <div class="c-faq">
    <h3 class="c-faq__title">{{ record.templatefields.title_4 }}</h3>
    <div class="c-faq__content">
      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_10_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_10_content|markdown }}</div>
      </div>

      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_11_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_11_content|markdown }}</div>
      </div>

      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_12_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_12_content|markdown }}</div>
      </div>
    </div>
  </div>

  <div class="c-faq">
    <h3 class="c-faq__title">{{ record.templatefields.title_5 }}</h3>
    <div class="c-faq__content">
      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_13_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_13_content|markdown }}</div>
      </div>

      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_14_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_14_content|markdown }}</div>
      </div>

      <div class="c-subfaq">
        <h5 class="c-subfaq__title">{{ record.templatefields.faq_15_title }}</h5>
        <div class="c-subfaq__content">{{ record.templatefields.faq_15_content|markdown }}</div>
      </div>
    </div>
  </div>
</section>

{% endblock %}