{% extends 'partials/_master.twig' %}

{% block content %}

<section class="c-hero-background">
  <div class="c-hero">
    <div class="c-hero__circles">
      <div class="c-hero__circle  c-hero__circle--med">
        <hr>
        <p>{{ record.templatefields.main_subtitle }}</p>
      </div>

      <div class="c-hero__circle  c-hero__circle--big">
        <img src="{{ asset('images/big-circle-image.png' ,'theme') }}">
      </div>

      <div class="c-hero__circle  c-hero__circle--small">
        <img src="{{ asset('images/small-circle-image.png', 'theme') }}">
      </div>
    </div>

    <div class="c-hero__content">
      {{ record.templatefields.main_title }}
      <a href="#about" class="c-btn  c-btn--ghost">{{ l('conocenos') }}</a>
    </div>
  </div>
</section>

<section class="c-section" id="about">
  <div class="c-section__heading">
    <h1>{{ l('nuestros productos')|capitalize }}</h1>
    <hr>
  </div>

  <div class="c-key-products">
    <div class="c-key-product">
      <h4 class="c-key-product__name">{{ l('bioinsecticidas-home')|capitalize }}</h4>
      <img src="{{ asset('images/products/productos_todos_omri.png', 'theme') }}" class="c-key-product__image">
      <a href="{{ l('page-productos') }}" class="c-btn">{{ l('ver productos') }}</a>
    </div>

    <div class="c-key-product">
      <h4 class="c-key-product__name">{{ l('biofungicidas')|capitalize }}</h4>
      <img src="{{ asset('images/products/trichosin_omri.png', 'theme') }}" class="c-key-product__image">
      <a href="{{ l('page-productos') }}" class="c-btn">{{ l('ver productos') }}</a>
    </div>

    <div class="c-key-product">
      <h4 class="c-key-product__name">{{ l('bionematicidas')|capitalize }}</h4>
      <img src="{{ asset('images/products/lilasin_omri.png', 'theme') }}" class="c-key-product__image">
      <a href="{{ l('page-productos') }}" class="c-btn">{{ l('ver productos') }}</a>
    </div>

    <div class="c-key-product">
      <h4 class="c-key-product__name">{{ l('insecticida natural y ecológico')|capitalize }}</h4>
      <img src="{{ asset('images/products/diata-sin.png', 'theme') }}" class="c-key-product__image">
      <a href="{{ l('page-productos') }}" class="c-btn">{{ l('ver productos') }}</a>
    </div>
  </div>
</section>

<section class="c-section">
  <div class="c-section__heading">
    <h1>{{ record.templatefields.cert_title }}</h1>
    <hr>
  </div>

  <div class="c-certs">
    <img src="{{ asset('images/svg/cert-agrobionsa.svg', 'theme') }}" class="c-cert">
    <img src="{{ asset('images/svg/cert-ciba.svg', 'theme') }}" class="c-cert">
    <img src="{{ asset('images/svg/cert-state.svg', 'theme') }}" class="c-cert">
    <img src="{{ asset('images/svg/cert-control.svg', 'theme') }}" class="c-cert">
  </div>

  <div class="c-certs  c-certs--threecolumn">
    <img src="{{ asset('images/cert-iso.png', 'theme') }}" class="c-cert">
    <img src="{{ asset('images/svg/cert-cofepris.svg', 'theme') }}" class="c-cert">
    <img src="{{ asset('images/svg/cert-omri.svg', 'theme') }}" class="c-cert">
  </div>
</section>

<section class="c-section  c-section--grid  c-section--small">
  <div class="c-section__paragraph  c-section__paragraph--big">{{ record.templatefields.circle_1_content }}</div>

  <img class="u-circle-image" src="{{ record.templatefields.circle_1_image|thumbnail('circle-01') }}">
</section>

<section class="c-section  c-section--tables">
  <h1 class="u-margin-left@tablet">AGROBIONSA <span class="u-blue">{{ l('vs') }}</span> {{ l('otros productos') }}</h1>

  <h6 class="u-margin-left@tablet">{{ l('1 dosis de agrobionsa ofrece') }}:</h6>
  <div class="c-table  c-table--blue">
    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('espora x g') }}:</p>
      <p class="c-table__cell-data">5 x 10<sup>9</sup>/g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('g x dosis') }}:</p>
      <p class="c-table__cell-data">240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('concentración total x dosis') }}:</p>
      <p class="c-table__cell-data">1.2 x 10<sup>12</sup> {{ l('conidios') }}/240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('igual a') }}:</p>
      <p class="c-table__cell-data">1‘200,000‘000,000 {{ l('conidios') }}/240 g</p>
    </div>
  </div>

  <h6 class="u-margin-left@tablet">{{ l('productos de la competencia')|capitalize }}</h6>
  <div class="c-table c-table--white">
    <h6 class="c-table__heading">{{ l('producto')|capitalize }} x</h6>
    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('espora x g') }}:</p>
      <p class="c-table__cell-data">5 x 10<sup>8</sup>/g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('g x dosis') }}:</p>
      <p class="c-table__cell-data">240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('concentración total x dosis') }}:</p>
      <p class="c-table__cell-data">1.2 x 10<sup>11</sup> {{ l('conidios') }}/240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('igual a') }}:</p>
      <p class="c-table__cell-data">120,000‘000,000 {{ l('conidios') }}/240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('dosis para igualar 1 dosis de agrobionsa') }}:</p>
      <p class="c-table__cell-data">10 {{ l('dosis') }}</p>
    </div>

    <h6 class="c-table__heading">{{ l('producto')|capitalize }} x</h6>
    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('espora x g') }}:</p>
      <p class="c-table__cell-data">5 x 10<sup>7</sup>/g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('g x dosis') }}:</p>
      <p class="c-table__cell-data">240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('concentración total x dosis') }}:</p>
      <p class="c-table__cell-data">1.2 x 10<sup>10</sup> {{ l('conidios') }}/240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('igual a') }}:</p>
      <p class="c-table__cell-data">12,000‘000,000 {{ l('conidios') }}/240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('dosis para igualar 1 dosis de agrobionsa') }}:</p>
      <p class="c-table__cell-data">100 {{ l('dosis') }}</p>
    </div>

    <h6 class="c-table__heading">{{ l('producto')|capitalize }} x</h6>
    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('espora x g') }}:</p>
      <p class="c-table__cell-data">5 x 10<sup>6</sup>/g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('g x dosis') }}:</p>
      <p class="c-table__cell-data">240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('concentración total x dosis') }}:</p>
      <p class="c-table__cell-data">1.2 x 10<sup>9</sup> {{ l('conidios') }}/240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('igual a') }}:</p>
      <p class="c-table__cell-data">1,200‘000,000 {{ l('conidios') }}/240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('dosis para igualar 1 dosis de agrobionsa') }}:</p>
      <p class="c-table__cell-data">1000 {{ l('dosis') }}</p>
    </div>

    <h6 class="c-table__heading">{{ l('producto')|capitalize }} x</h6>
    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('espora x g') }}:</p>
      <p class="c-table__cell-data">5 x 10<sup>5</sup>/g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('g x dosis') }}:</p>
      <p class="c-table__cell-data">240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('concentración total x dosis') }}:</p>
      <p class="c-table__cell-data">1.2 x 10<sup>8</sup> {{ l('conidios') }}/240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('igual a') }}:</p>
      <p class="c-table__cell-data">120‘000,000 {{ l('conidios') }}/240 g</p>
    </div>

    <div class="c-table__cell">
      <p class="c-table__cell-name">{{ l('dosis para igualar 1 dosis de agrobionsa') }}:</p>
      <p class="c-table__cell-data">10000 {{ l('dosis') }}</p>
    </div>
  </div>
</section>

<section class="c-section  c-section--flexorder">
  <div class="c-section__lastpart">
    <h1>{{ record.templatefields.circle_2_title }}</h1>
    <hr>
    <p>{{ record.templatefields.circle_2_content }}</p>

    <a class="c-btn  c-btn--ghost" href="{{ l('page-contacto') }}">{{ l('contactanos') }}</a>
  </div>

  <img class="u-circle-image" src="{{ record.templatefields.circle_2_image|thumbnail('circle-02') }}">
</section>

<figure class="u-pulled-image">
  <img src="{{ asset('images/crop.png', 'theme') }}">
</figure>

{% endblock %}
