{% extends 'partials/_master.twig' %}

{% setcontent products = "products" %}

{% block content %}

<section class="c-section  c-section--first">
  <div class="c-section__heading">
    <h1>{{ l('nuestros productos')|capitalize }}</h1>
    <hr>
  </div>

  <ul class="c-categories">
    <li id="btn-all" class="c-category  is-active">{{ l('todos')|capitalize }}</li>
    <li id="btn-bioins" class="c-category">{{ l('bioinsecticidas')|capitalize }}</li>
    <li id="btn-biofun" class="c-category">{{ l('biofungicidas')|capitalize }}</li>
    <li id="btn-bionem" class="c-category">{{ l('bionematicidas')|capitalize }}</li>
    <li id="btn-ecoins" class="c-category">{{ l('insecticida natural y ecológico')|capitalize }}</li>
  </ul>

  <select class="c-select">
    <option id="select-all" class="c-select__item" value="0">{{ l('todos')|capitalize }}</option>
    <option id="select-bioins" class="c-select__item" value="1">{{ l('bioinsecticidas')|capitalize }}</option>
    <option id="select-biofun" class="c-select__item" value="2">{{ l('biofungicidas')|capitalize }}</option>
    <option id="select-bionem" class="c-select__item" value="3">{{ l('bionematicidas')|capitalize }}</option>
    <option id="select-ecoins" class="c-select__item" value="4">{{ l('insecticida natural y ecológico')|capitalize }}</option>
  </select>

  <div class="c-products__container">
    <div id="all" class="c-products  is-active">
      {% for product in products|reverse %}
      <div class="c-product">
        <div class="c-product__image-container">
          <img src="{{ product.image|thumbnail('product-image') }}" alt="product" class="c-product__image">
        </div>

        <div class="c-product__content">
          <h6 class="c-product__name  u-strong-green">{{ product.name }}</h6>
          <p class="c-product__cert">{{ product.certs }}</p>
          <a href="{{ product.link }}" class="c-btn  c-btn--small">{{ l('ver producto') }}</a>
        </div>
      </div>
      {% endfor %}
    </div>

    <div id="bioins" class="c-products">
      {% for product in products|reverse %}
      {% if product.category == 'bioinsecticida' %}
      <div class="c-product">
        <div class="c-product__image-container">
          <img src="{{ product.image|thumbnail('product-image') }}" alt="product" class="c-product__image">
        </div>

        <div class="c-product__content">
          <h6 class="c-product__name  u-strong-green">{{ product.name }}</h6>
          <p class="c-product__cert">{{ product.certs }}</p>
          <a href="{{ product.link }}" class="c-btn  c-btn--small">{{ l('ver producto') }}</a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div id="biofun" class="c-products">
      {% for product in products|reverse %}
      {% if product.category == 'biofungicida' %}
      <div class="c-product">
        <div class="c-product__image-container">
          <img src="{{ product.image|thumbnail('product-image') }}" alt="product" class="c-product__image">
        </div>

        <div class="c-product__content">
          <h6 class="c-product__name  u-strong-green">{{ product.name }}</h6>
          <p class="c-product__cert">{{ product.certs }}</p>
          <a href="{{ product.link }}" class="c-btn  c-btn--small">{{ l('ver producto') }}</a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div id="bionem" class="c-products">
      {% for product in products|reverse %}
      {% if product.category == 'bionematicida' %}
      <div class="c-product">
        <div class="c-product__image-container">
          <img src="{{ product.image|thumbnail('product-image') }}" alt="product" class="c-product__image">
        </div>

        <div class="c-product__content">
          <h6 class="c-product__name  u-strong-green">{{ product.name }}</h6>
          <p class="c-product__cert">{{ product.certs }}</p>
          <a href="{{ product.link }}" class="c-btn  c-btn--small">{{ l('ver producto') }}</a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div id="ecoins" class="c-products">
      {% for product in products|reverse %}
      {% if product.category == 'insecticida' %}
      <div class="c-product">
        <div class="c-product__image-container">
          <img src="{{ product.image|thumbnail('product-image') }}" alt="product" class="c-product__image">
        </div>

        <div class="c-product__content">
          <h6 class="c-product__name  u-strong-green">{{ product.name }}</h6>
          <p class="c-product__cert">{{ product.certs }}</p>
          <a href="{{ product.link }}" class="c-btn  c-btn--small">{{ l('ver producto') }}</a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}