{% extends 'partials/_master.twig' %}

{% block content %}

<section class="c-section-product  c-section--first">
  <article class="c-single">
    <div class="c-single__header">
      <div class="c-single__images">
        <img src="{{ record.image|thumbnail('product-image') }}" class="c-single__image">

        <div class="c-single__certs">
          {% for image in record.cert_images %}
          <img class="c-single__cert" src="{{ image.filename|thumbnail('cert-image') }}">
          {% endfor %}
        </div>
      </div>

      <div class="c-single__overview">
        <div class="c-single__overview-main">
          <h6 class="c-single__category">
            {% if record.category == 'bioinsecticida' %} {{ l('bioinsecticidas')|capitalize }} {% endif %}
            {% if record.category == 'biofungicida' %} {{ l('biofungicidas')|capitalize }} {% endif %}
            {% if record.category == 'bionematicida' %} {{ l('bionematicidas')|capitalize }} {% endif %}
            {% if record.category == 'insecticida' %} {{ l('insecticida natural y ecologico')|capitalize }} {% endif %}
          </h6>
          <h1 class="c-single__name">{{ record.name }}</h1>
          <p class="c-single__taxonomy">{{ record.tax }}</p>
          <p class="c-single__formula">{{ record.formula }}</p>
          <div class="c-single__descr">{{ record.description|markdown }}</div>
        </div>

        <div class="c-accordion">
          <h4 class="c-accordion__name">{{ l('detalles')|capitalize }}</h4>
          <div class="c-accordion__content  c-accordion__content--details">
            <h6>{{ l('concentracion')|capitalize }}:</h6>
            {{ record.concentration }}
            <h6>{{ l('presentacion')|capitalize }}</h6>
            <p>{{ record.presentation }}</p>
            <h6>{{ l('plagas')|capitalize }}</h6>
            <div>
              <p class="u-inline-block">{{ record.plagues }}</p>
              <p class="u-inline-block"><em>{{ record.tax_plagues }}</em></p>
            </div>
            <h6 class="u-mb-none">{{ l('cultivos')|capitalize }}</h6>
            <p class="u-mb-none">{{ record.crops }}</p>
          </div>
        </div>

        <div class="c-accordion__cta">
          <p class="u-green">{{ l('¿quieres saber más del producto? ¡contactanos!') }}</p>
          <a class="c-btn  c-btn--ghost" href="{{ l('page-contacto') }}">{{ l('me interesa') }}</a>
        </div>
      </div>
    </div>

    <div class="c-single__details">
      <div class="c-accordion  c-accordion--vh@tablet  js-sr">
        <div>
          <h4 class="c-accordion__name  c-accordion__name--btopbot">{{ l('caracteristicas del producto')|capitalize }}</h4>
          <div class="c-accordion__content">
            {{ record.traits }}
          </div>
        </div>
      </div>

      <div class="c-accordion  js-sr">
        <div>
          <h4 class="c-accordion__name">{{ l('beneficios de')|capitalize }}</h4>
          <div class="c-accordion__content">
            {{ record.benefits|markdown }}
          </div>
        </div>
      </div>

      {% if record.cert_image %}

      <div class="c-card--vh@tablet  js-sr">
        <div class="c-card">
          <img src="{{ record.cert_image|thumbnail('cert-card-image') }}" alt="" class="c-card__image">

          <div class="c-card__content  c-card__content--product">
            {{ record.cert_info }}
          </div>
        </div>
      </div>

      <div class=" c-accordion--vh@tablet  js-sr">
        <div class="c-accordion">
          <h4 class="c-accordion__name  c-accordion__name--btopbot">{{ l('momento de aplicacion')|capitalize }}</h4>
          {% if record.app_moment_image %}
          <div class="c-accordion__content  c-accordion__content--gridreverse">
            <img class="u-grid-start" src="{{ record.app_moment_image|thumbnail('application-image') }}">
            <div>{{ record.app_moment_text }}</div>
          </div>
          {% else %}
          <div class="c-accordion__content">
            <div>{{ record.app_moment_text }}</div>
          </div>
          {% endif %}
        </div>
      </div>

      <div class=" c-accordion--vh@tablet js-sr">
        <div class="c-accordion u-margin-top-huge@tablet">
          <h4 class="c-accordion__name  c-accordion__name--btopbot">{{ l('modo de aplicacion')|capitalize }}</h4>
          <div class="c-accordion__content">
            {{ record.app_mode_text }}

            <h6>{{ l('preparacion de la premezcla')|capitalize }}</h6>
            {{ record.prep_text }}

            <h6>{{ l('preparacion de la mezcla para la aplicacion')|capitalize }}</h6>
            {{ record.prep_app_text }}
          </div>
        </div>
      </div>

      {% else %}

      <div class=" c-accordion--vh@tablet  u-accordion-small  js-sr">
        <div class="c-accordion">
          <h4 class="c-accordion__name  c-accordion__name--btopbot">{{ l('momento de aplicacion')|capitalize }}</h4>
          {% if record.app_moment_image %}
          <div class="c-accordion__content  c-accordion__content--gridreverse">
            <img class="u-grid-start" src="{{ record.app_moment_image|thumbnail('application-image') }}">
            <div>{{ record.app_moment_text }}</div>
          </div>
          {% else %}
          <div class="c-accordion__content">
            <div>{{ record.app_moment_text }}</div>
          </div>
          {% endif %}
        </div>
      </div>

      <div class=" c-accordion--vh@tablet js-sr">
        <div class="c-accordion u-margin-top-large@tablet">
          <h4 class="c-accordion__name  c-accordion__name--btopbot">{{ l('modo de aplicacion')|capitalize }}</h4>
          <div class="c-accordion__content">
            {{ record.app_mode_text }}

            <h6>{{ l('preparacion de la premezcla')|capitalize }}</h6>
            {{ record.prep_text }}

            <h6>{{ l('preparacion de la mezcla para la aplicacion')|capitalize }}</h6>
            {{ record.prep_app_text }}
          </div>
        </div>
      </div>

      {% endif %}

      {# <div class="c-accordion">
        <h4 class="c-accordion__name  c-accordion__name--btopbot">Resultados visibles</h4>
        <div class="c-accordion__content  c-accordion__content--grid">
          <div>
            <p>Para controlar los nematodos que penetran por la raíz se debe aplicar  LILA–SIN®  durante el transplante y desde el primer riego.<br>
            Para controlar los nematodos, LILA–SIN® se debe aplicar al detectar las primeras poblaciones de la plaga.<br>
            El intervalo de las aplicaciones dependerá del grado de infestación del cultivo, condiciones ambientales y reinfestación del cultivo.</p>
          </div>

          <img class="u-grid-end" src="{{ asset('images/resultado.jpg', 'theme') }}">
        </div>
      </div> #}
    </div>
  </article>
</section>

{% endblock %}