///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;

// Colors
$greyblue: #4F5770;
$brandblue: #001489;
$brandgreen: #009A44;
$clearblue: #A7B8F0;
$pussyblue: #D6E0EC;

// Products
$strong-green: #00573F;
$purple: #5F2167;
$grey: #9C9BA0;
$greeny: #00AF66;
$golden-brown: #B89D18;
$coolblue: #51A9DB;
$browny: #5D3E12;

