<footer class="c-footer">
  <div class="c-footer__grid">
    <img src="{{ asset('images/svg/footer-logo.svg' ,'theme') }}" class="c-footer__logo">

    <nav class="c-footer__nav">
      {{ menu(template = '@bolt/frontend/_sub_menu_translated.twig') }}
    </nav>

    <div class="c-footer__contact">
      <div class="c-footer__contact-item">
        <img src="{{ asset('images/svg/footer-icon-logo.svg', 'theme') }}">
        <p>Agrobiológicos del Noroeste, S.A. de C.V.</p>
      </div>

      <div class="c-footer__contact-item">
        <img src="{{ asset('images/svg/footer-icon-location.svg', 'theme') }}">
        <p>Río Mocorito 575 Pte. Col. Guadalupe <br>
        Culiacán, Sinaloa, México. C.P. 80220</p>
      </div>

      <div class="c-footer__contact-item">
        <img src="{{ asset('images/svg/footer-icon-phone.svg', 'theme') }}">
        <p>+52 (667) 715 7712 | +52 (667) 715 7713</p>
      </div>

      <div class="c-footer__contact-item">
        <img src="{{ asset('images/svg/footer-icon-mail.svg', 'theme') }}">
        <p>ventas@agrobionsa.com</p>
      </div>
    </div>
  </div>

  <div class="c-social">
    <p class="c-social__item">{{ l('siguenos en nuestras redes sociales')|capitalize }}</p>

    <div class="c-social__icons">
      <a href="https://www.facebook.com/Agrobionsa-1402050423364299/" target="_blank" class="c-social__icon">
        <img src="{{ asset('images/svg/social-facebook.svg', 'theme') }}" alt="facebook">
      </a>

      <a href="#0" target="_blank" class="c-social__icon">
        <img src="{{ asset('images/svg/social-instagram.svg', 'theme') }}" alt="instagram">
      </a>

      <a href="https://www.youtube.com/channel/UCJPERh6LGlT2puBeL7AT6og" target="_blank" class="c-social__icon">
        <img src="{{ asset('images/svg/social-youtube.svg', 'theme') }}" alt="youtube">
      </a>

      <a href="https://mx.linkedin.com/company/agrobionsa" target="_blank" class="c-social__icon">
        <img src="{{ asset('images/svg/social-linkedin.svg', 'theme') }}" alt="linkedin">
      </a>
    </div>
  </div>

  <div class="c-copyright">
    <small>®2018 Agrobionsa. {{ l('todos los derechos reservados')|capitalize }}. <!--Desarrollo:<a href="www.anclastudio.com" target="_blank"> Ancla</a>--></small>
  </div>
</footer>