<header id="header" class="c-header">
  <a href="{{ l('root') }}"><img src="{{ asset('images/svg/header-logo.svg', 'theme') }}" alt="logo" class="c-header__logo"></a>

  <nav class="c-header__nav">
    {{ menu(template = '@bolt/frontend/_sub_menu_translated.twig') }}

    <div class="c-header__nav-li">
      <div class="c-dropd">
        <div class="c-dropd__btn">
          <img src="{{ asset('images/svg/world.svg', 'theme') }}">
          <img src="{{ asset('images/svg/arrow.svg', 'theme') }}">
        </div>
        <div class="c-dropd__content">
          <div class="c-dropd__arrow"></div>
          {{ localeswitcher(template = 'partials/_lang-switcher.twig') }}
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="c-hamburger">
  <div class="c-hamburger__line"></div>
  <div class="c-hamburger__line"></div>
  <div class="c-hamburger__line"></div>
</div>