<ul class="c-dropd__items">
    {% for locale in locales|default([]) %}
    <li class="c-dropd__item" {% if locale.get('active') %} class="c-dropd__item active"{% endif %}>
        <a title="{{ locale.get('label') }}" href="{{ locale.get('url') }}">
            {{ locale.get('label') }}
        </a>
    {% endfor %}
</ul>
