<ul class="lang-box">
    {% for locale in locales|default([]) %}
    <li class="lang" {% if locale.get('active') %} class="lang active"{% endif %}>
        <a title="{{ locale.get('label') }}" href="{{ locale.get('url') }}">
            {{ locale.get('label') }}
        </a>
    {% endfor %}
</ul>
