<!doctype html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
           sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
                {{ config.get('general/sitename') -}}
            {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
        </title>
        <link rel="stylesheet" href="{{ asset('css/main.css', 'theme') }}">
    </head>
    <body>

        {{ include('partials/_header.twig') }}

        {% include "partials/_mobile-nav.twig" %}

        {% block content %} {% endblock %}

        {{ include('partials/_footer.twig') }}

        <script>
            function initMap() {
            var uluru = {lat: 24.7997417, lng: -107.3989342};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
            }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8pNqMLPyn2_CwUbLrORFyJBwtz07Q3Bk&callback=initMap"></script>

        <script src="{{ asset('js/main.js', 'theme') }}"></script>
    </body>
</html>