<nav class="c-mobile-nav">
  <img src="{{ asset('images/svg/iso.svg', 'theme') }}" alt="logo">

  {{ menu(template = '@bolt/frontend/_sub_menu_translated.twig') }}

  <div class="lang-container">
    <img class="lang-icon" src="{{ asset('images/svg/world-mobile.svg', 'theme') }}" alt="world">

    {{ localeswitcher(template = 'partials/_lang-switcher-mobile.twig') }}
  </div>
</nav>