/* ==========================================================================
   #FONTS
   ========================================================================== */

/**
 * Custom webfonts are declared here.
 */

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Regular.woff2') format('woff2'),
      url('../fonts/LibreFranklin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Bold.woff2') format('woff2'),
      url('../fonts/LibreFranklin-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-SemiBold.woff2') format('woff2'),
      url('../fonts/LibreFranklin-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Bold.woff2') format('woff2'),
      url('../fonts/LibreFranklin-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Regular.woff2') format('woff2'),
      url('../fonts/LibreFranklin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-SemiBold.woff2') format('woff2'),
      url('../fonts/LibreFranklin-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-SemiBold.woff2') format('woff2'),
      url('../fonts/LibreFranklin-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Bold.woff2') format('woff2'),
      url('../fonts/LibreFranklin-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Regular.woff2') format('woff2'),
      url('../fonts/LibreFranklin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

