@import "swiper/svg-uri";
@import "swiper/mixins";
@import "swiper/core";
@import "swiper/navigation";
@import "swiper/pagination";
// @import "swiper/effects";
// @import "swiper/zoom";
// @import "swiper/scrollbar";
// @import "swiper/preloader";

.swiper-container {
  margin-bottom: $unit-huge;
}

.swiper-slide {
  text-align: center;
  img {
    max-width: 85%;
  }
}