/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

html {
  font-size: ($inuit-global-font-size / 16px) * 1em; /* [1] */
  line-height: $inuit-global-line-height / $inuit-global-font-size; /* [1] */
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
}

body {
  background-color: #F8F8F8;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: $brandgreen;
  font-family: 'Libre Franklin';
  font-weight: normal;
  font-style: normal;
}

h4,
h5,
h6 {
  color: $greyblue;
  font-family: 'Libre Franklin';
  font-weight: 600;
  font-style: normal;
}

p {
  color: $greyblue;
  font-family: 'Libre Franklin';
  font-weight: normal;
  font-style: normal;
}

hr {
  width: $unit;
  height: 4px;
  border: 0;
  background-color: $brandgreen;
}

small {
  color: $greyblue;
  font-family: 'Libre Franklin';
}

ul {
  color: $greyblue;
  font-family: 'Libre Franklin';
  list-style-type: square;

  & li {
    margin-bottom: $unit-tiny*1.5;
  }
}

ol {
  color: $greyblue;
  font-family: 'Libre Franklin';
  margin-bottom: 0;

  & li {
    margin-bottom: $unit-tiny*1.5;
  }
}